@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-svg{
    background-image: url('/cart.svg');
    background-repeat: no-repeat;
}

.search-svg{
    background-image: url('/search.svg');
}
