@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-svg{
    background-image: url(/reserve-develop/public/cart.svg);
    background-repeat: no-repeat;
}

.search-svg{
    background-image: url(/reserve-develop/public/search.svg);
}
